
<div class="row-fluid">
    <div class="span6">
      <h2 class="page-header">Timescity Scorecard</h2>

        <p>This is a portal providing useful high-level Metrics about Timescity content, usage, user behaviour etc.
        Click on the navigation links above to dig into individual sections. (You need an account to access these.)</p>

        <p>In order to get access to the graphs & data, please click on <b>Request Access</b> below or send an email to <b>TC-Dev@indiatimes.co.in</b></p>

        <p>This is still work in progress, so there may be quirks here & there. If you encounter any issues or have any suggestions, Please let us know as well via the link below.</p>


        <br/>
      <a href="mailto:tc-dev@indiatimes.co.in?subject=Access to TC Scorecard" >
        <input type="button" value="Request Access" class="btn btn-success">
      </a>

      <a href="mailto:tc-dev@indiatimes.co.in?subject=TC Scorecard Feedback" >
        <input type="button" value="Provide Feedback" class="btn btn-info">
      </a>

    </div>
        <div class="span5 offset1">
          <img src="/assets/metrics.jpg" alt="Scorecard">

        </div>
				
</div>