
<div class="row-fluid">
    <div class="span12">
      <h2 class="page-header">Release Notes</h2>

<ul>
	<li>
		0.7
		<ul>
			<li>Removed Date skipping from User graphs.</li>
			<li>fixed display of "Mr." even for female users</li>
		</ul>
	</li>

	<li>
		0.6
		<ul>
			<li>Added <a href="/user/cumsignups">Cummulative Signups</a> graph.</li>
			<li>Added <a href="/user/cumlogins">Cummulative Logins</a> graph.</li>
			<li><a href="/reviews/index">Reviews</a> Graph coverted to stacked.</li>
		</ul>
	</li>

	<li>
		0.5
		<ul>
			<li>Added Events listed <a href="/event/listed_weeks_before_start">before start date</a> graph.</li>
			<li>Added Events listed <a href="/event/listed_weeks_before_end">before end date</a> graph.</li>
			<li>Formatting issues of date on various grophs.</li>
			<li>Removed skipping of dates in the dates graph.</li>
		</ul>
	</li>

	<li>
		0.4
		<ul>
			<li>Added User <a href="/user/logins">Logins</a> & User <a href="/user/signups">Signup</a> graph.</li>
			<li>Made Review graphs more customizable.</li>
		</ul>
	</li>

	<li>
		0.3
		<ul>
			<li>Cuisines <a href="/data/cuisines_relation">Relations</a> Graph</li>
			<li>Users <a href="/user/index">Age</a> Graph</a>	
		</ul>
	</li>

	<li>
		0.2
		<ul>
			<li><a href="/establishments/brands">Brands</a> Graph</li>
			<li>Monthly & Daily <a href="/reviews/index">Reviews</a> Graph</li>
			<li>Various Data Graphs for Critic Reviews, GPS Data, Phones, Services, Features & Cuisine Data</li>
		</ul>
	</li>

	<li>
		0.1
		<ul>
			<li>Intial Verion.</li>
			<li>Establishment <a href="/establishments/est_type">Type</a> Graphs</li>
		</ul>
	</li>
	
	
</ul>   
   
      </div>
      
 </div>