<hr/>
<div class="row-fluid">

<div class="span10">
copyright @timescity.com 2012. ver 0.7 <a href="/home/rel_notes">Release notes</a>
</div>

<div class="span2">
	<img src="/assets/goggles_black.jpg" border="0" alt="Turn on Googles">
</div>

</div>
